// reset
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}

body {
    text-transform: uppercase;
    height: 100vh;
}

main {
    height: 100%;
}

#app {
    display: flex;
    flex-direction: column;
    height: 100%;
}